{% extends 'booking/base.html' %}
{% block content %}


<div class="content">
    <!-- Table Image -->
        <div class="image">
            <img src="https://res.cloudinary.com/dqh6bfpwq/image/upload/v1688938872/gallery-3_zjmtlt.jpg" alt="Restaurant interior bar section">
        </div>
   
    <div class = "column"  style="margin-top: 75px; margin-left:5%">
        <h3>Add Booking</h3>
        <form method="POST" action="add">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <p>
                    <button class="btn btn-primary" type="submit">Make Booking</button>
                </p>
            </div>
        </form>
    </div>
</div>


{% endblock %}

















