{% extends 'booking/base.html' %}
{% block content %}

<div class="container">
    <div class="row"  style="margin-top: 70px; text-align: center;">

        <form action="{% url 'home' %}" method="post">

        {% csrf_token %}
            <main class="row book-container">
                <div class = >
                    <h1 class="thin-text booking-subheader mt30">
                    <span class = "fa fa-check">
                
                    </span>
                    Thanks {{user}}<strong class="black-text"> -your booking is now confirmed </strong>

                    </h1>
                </div>
                <div class="font-large" >
                    <p>Name: {{booking.name}}</p>
                    <p>Phone Number: {{booking.phone_number}}</p>
                    <p>Number of Persons: {{booking.Number_of_persons}} persons</p>
                    <p>Booking Date and Time: {{booking.booking_date_and_time}}</p>
                </div>
                <div class="row font-link font-medium">
                <div class="col-xs-12 col-12 mb10">
                <a href="{% url 'home'%}" style ="color: black;">Go back home page</a>
                </div>
                </div>
                <div class="row font-link font-medium">
                <div class="col-xs-12 col-12 mb10">
                <a href="{% url 'mybooking'%}" style ="color: black;">Cancel a booking</a>
                </div>
            </main>
        </form>
    </div>
</div>
{% endblock %}








