{% extends 'booking/base.html' %}
{% block content %}

<div class="container">
    <div class="row"  style="margin-top: 70px; text-align: center;">

        
            <main class="row book-container">
                <div >
                    <h1 class="thin-text booking-subheader mt30">
                    <span class = "fa fa-check">
                    </span>
                    Thanks {{user}}<strong class="black-text"> -your booking is now confirmed </strong></h1>
                </div>
                <div >
                    
                    <p>Name: {{booking.user}}</p>
                    <p>Phone Number: {{booking.phone_number}}</p>
                    <p>Number of Persons: {{booking.Number_of_persons}} persons</p>
                    <p>Booking Date and Time: {{booking.booking_date_and_time}}</p>
                </div>
                <div class="row font-link font-medium">
                <div class="col-xs-12 col-12 mb10">
                <a href="{% url 'home'%}" >
                <button  style="margin-bottom: 10px;" class="btn btn-primary" type="submit">Go back home page</button>   
                </a>
                </div>
                </div>
                <div class="row font-link font-medium">
                <div class="col-xs-12 col-12 mb10">
                <a href="{% url 'mybooking' %}">
                <button class="btn btn-info" type="submit">Go back booking_list</button>   
                </a>
                </div>
                </div>
            </main>
       
    </div>
</div>
{% endblock %}








