{% extends 'booking/base.html' %}
{% block content %}
 
<h3>BOOKING LIST</h3>
<div class="table-responsive-sm">
    <table class="table">
        <thead>
            <td>NAME</td>
            <td>PHONE NUMBER </td>
            <td>NUMBER _OF_PERSONS</td>
            <td>BOOKING DATE AND TIME</td>
        </thead>

    {% for booking in bookings %}
        <tr>
            <td>{{booking.name}}</td>
            <td>{{booking.phone_number}}</td>
            <td>{{booking.Number_of_persons}} persons</td>
            <td>{{booking.booking_date_and_time}}</td>
            <td><a href="/edit/{{booking.id }}">
            <button class="btn btn-primary" type="submit">Edit</button>
            </a>
            </td>
            <td><a  href="/delete/{{booking.id }}" >
            <button  onclick="checker()" type="button" class="btn btn-danger" >Delete</button>
            </a>
            </td>
        </tr>
       
        {% empty %}
        <tr><td> <h2>You have no upcoming booking</h2></td></tr>

    {% endfor %}
    </table>
       
</div>


{% endblock %}