{% extends 'booking/base.html' %}
{% block content %}

<div class="container">
    <div class="row"  style="margin-top: 70px; text-align: left;">

        <h3>Edit Booking</h3>
        <form method="POST" >
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <p>
                    <button class="btn btn-primary" type="submit">Update Booking</button>
                    
                </p>
            </div>
        </form>
    </div>
</div>

{% endblock %}

















