{% extends 'restaurant/base.html' %}
{% block content %}

<div class="container">
    <div class="row"  style="margin-top: 70px; text-align:left;">

        <h2>Add New booking:</h2>
        <form method="POST" action="add">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <p>
                    <button class="btn btn-primary" type="submit">Make Booking</button>
                </p>
            </div>
        </form>
    </div>
</div>

{% endblock %}

















